@model BEUShopNearby2.Tienda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coordenadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordenadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_Social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_Social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propietario.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario.Nombres)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTienda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
